<div class="content">
  <h2 class="title">2019年右云年会幸运大抽奖</h2>
  <div>
    <div class="flex">
      <div class="canvas">
        <canvas class="item" #canvas width="722px" height="722px"></canvas>
        <img (click)="rotate()" class="pointer" src="../assets/images/wheel-pointer.png" />
      </div>
    </div>
  </div>
  <div class="flex prize-op">
    <div class="item">
      <h2>抽奖前请选择抽奖级别！！！</h2>
      <button class="userName hoverable" [disabled]="firstPrizeList.length >= firstPrizeNum"
        [ngClass]="{'prize-doing': whichPrizeIsDoing === 1}" (click)="doWhichPrize(1)">抽取一等奖...</button>
      <button class="userName hoverable" [disabled]="secondPrizeList.length >= secondPrizeNum"
        [ngClass]="{'prize-doing': whichPrizeIsDoing === 2}" (click)="doWhichPrize(2)">抽取二等奖...</button>
      <button class="userName hoverable" [disabled]="thirdPrizeList.length >= thirdPrizeNum"
        [ngClass]="{'prize-doing': whichPrizeIsDoing === 3}" (click)="doWhichPrize(3)">抽取三等奖...</button>
    </div>
    <div class="first item">
      <h2>一等奖（共1位）已产生{{firstPrizeList.length}}位</h2>
      <ng-container *ngFor="let user of firstPrizeList">
        <span class="userName">{{user}}</span>
      </ng-container>
    </div>
    <div class="second item">
      <h2>二等奖（共2位）已产生{{secondPrizeList.length}}位</h2>
      <ng-container *ngFor="let user of secondPrizeList">
        <span class="userName">{{user}}</span>
      </ng-container>
    </div>
    <div class="third item">
      <h2>三等奖（共6位）已产生{{thirdPrizeList.length}}位</h2>
      <ng-container *ngFor="let user of thirdPrizeList">
        <span class="userName">{{user}}</span>
      </ng-container>
    </div>
  </div>
  <audio src="../assets/music.mp3" loop #music>
    </audio>
</div>
